<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Bootsrtap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!-- custom css -->
    <link rel="stylesheet" href="../static/css/style.css">


    <title>KTÜ Yoklama Sistemi</title>
</head>

<body>
    <div class="navbar">

        <a href="/home" class="logo">
            <img src="{{ url_for('static',filename='/../images/logo.png')}}" alt="logo">
        </a>
        {% if teacher %}
        <a href="/logout" class="logout">
            <img src="{{ url_for('static',filename='/../images/logout.png')}}" alt="Logout icon">
        </a>
        {% endif %}
    </div>
    <div class="sidebar">
        <ul>
            {% for course in courses %}
            <li>
                {% if course.period == 2 %}
                <a href="#" id="class1" class="menu-btn">1. Sınıf
                    <span class="bi bi-chevron-right icon"></span>
                </a>
                <ul class="menu-show">
                    <li><a href="{{ url_for('course', lesson_name=course.lesson_name) }}">{{ course.lesson_name }}</a>
                    </li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if course.period == 4 %}
                <a href="#" id="class2" class="menu-btn">2. Sınıf
                    <span class="bi bi-chevron-right icon"></span>
                </a>
                <ul class="menu-show">
                    <li><a href="{{ url_for('course', lesson_name=course.lesson_name) }}">{{ course.lesson_name }}</a>
                    </li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if course.period == 6 %}
                <a href="#" id="class3" class="menu-btn">3. Sınıf
                    <span class="bi bi-chevron-right icon"></span>
                </a>
                <ul class="menu-show">
                    <li><a href="{{ url_for('course', lesson_name=course.lesson_name) }}">{{ course.lesson_name }}</a>
                    </li>
                </ul>
                {% endif %}
            </li>
            <li>
                {% if course.period == 8 %}
                <a href="#" id="class4" class="menu-btn">4. Sınıf
                    <span class="bi bi-chevron-right icon"></span>
                </a>
                <ul class="menu-show">
                    <li><a href="{{ url_for('course', lesson_name=course.lesson_name) }}">{{ course.lesson_name }}</a>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-page">
        <div class="title">
            <h1>
                <span><a href="#" onclick="goBack()"><i class="bi bi-arrow-left-square-fill"></i></a> Yoklama
                    Listesi</span>
                <span class="full-date" id="selectedDay"></span>
            </h1>
        </div>
        <div class="container-box">
            <div class="table-box">
                <div id="BtnContainer" class="BtnContainer">
                    <button class="filter-btn active blue" onclick="filterSelection('all')"> Tümü</button>
                    <button class="filter-btn green" onclick="filterSelection('gelenler')"> Gelenler</button>
                    <button class="filter-btn red" onclick="filterSelection('gelmeyenler')"> Gelmeyenler</button>
                </div>
                <table id="myTable">
                    <tr>
                        <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" class="table-head">
                            Numara
                            <span>
                                <i class="bi bi-caret-up-fill"></i>
                                <i class="bi bi-caret-down-fill"></i>
                            </span>
                        </th>
                        <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" class="table-head">
                            Ad
                            <span>
                                <i class="bi bi-caret-up-fill"></i>
                                <i class="bi bi-caret-down-fill"></i>
                            </span>
                        </th>
                        <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" class="table-head">
                            Soyad
                            <span>
                                <i class="bi bi-caret-up-fill"></i>
                                <i class="bi bi-caret-down-fill"></i>
                            </span>
                        </th>
                        <th>
                            Yoklama
                        </th>
                    </tr>
                    {% for info in student_info %}
                    <tr class="item  gelenler">
                        <td>{{ info.student_no }}</td>
                        <td>{{ info.student_name }}</td>
                        <td>{{ info.student_surname }}</td>
                        <td><i class="bi bi-check2"></i></td>
                    </tr>
                    {% endfor %}
                    {% for info in student_empty_info %}
                    <tr class="item  gelmeyenler">
                        <td>{{ info.student_no }}</td>
                        <td>{{ info.student_name }}</td>
                        <td>{{ info.student_surname }}</td>
                        <td><i class="bi bi-x"></i></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="footer"></div>
</body>

<script src="https://www.w3schools.com/lib/w3.js"></script>
<script src="{{ url_for('static',filename='/../js/utils.js')}}"></script>
<script src="{{ url_for('static',filename='/../js/detail.js')}}"></script>

<script>
    let selectedDayEl = document.getElementById("selectedDay");

    // URL'den "day" parametresini al
    const urlParams = new URLSearchParams(window.location.search);
    const selectedDay = urlParams.get('date');
    // Seçili günü <span> içinde göster
    selectedDayEl.innerText = selectedDay;


    function goBack() {
        window.history.back();
    }
</script>

</html>